* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'open sans';
}

.contenedor {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.nav__logo{
    display: flex;
    text-align: left;
    margin-top: -40px;
    padding-left: 20px;
}

.titulo {
    color: black;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

/* Header */

header {
    width: 100%;
    height: 650px;
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(0, 0%, 26%, 0.616), hsla(0, 0%, 0%, 0.616)),url(../img/portada.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, hsla(0, 0%, 26%, 0.616), hsla(0, 0%, 0%, 0.616)),url(../img/portada.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

nav{
    text-align: right;
    padding: 60px 50px 0 0;
}

nav > a{
    color:#fff;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}

nav > a:hover{
    text-decoration: underline;
}

header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center; 
}

.textos-header h1{
    font-size: 50px;
    color:#fff;
}

.textos-header h2{
    font-size: 30px;
    font-weight: 300;
    color:#fff;
}


/* About us */


.about__main {
    padding-bottom: 50px;
    display: grid;
    width: 90%;
    margin: 0 auto;
    gap: 2em;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
    text-align: center;
}


.about__icons {
    display: grid;
    gap: 1em;
    justify-items: center;
    width: 260px;
    overflow: hidden;
    margin: 0 auto;
}

.about__icon {
    width: 100px;  
}

/* Nosotros */


.texto__nosotros{
    text-align: right; 
}
 
.titulo__nosotros{
    text-align: right;
   padding-bottom: 30px;
}

.nosotros img{
    width: 75%;
    float: left;
}


/* Galeria */


.productos{
    background: #f2f2f2;
}

.galeria-port{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-port{
    width: 24%;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}

.imagen-port > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hover-galeria{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: hwb(274 33% 65% / 0.7);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hover-galeria img{
    width: 50px;
}

.hover-galeria p{
    color: #fff;
}

.imagen-port:hover .hover-galeria{
    transform: scale(1);
}

/* Clients */

.cards{
    display: flex;
    justify-content: space-evenly;
}

.cards .card{
    background: #232224;
    display: flex;
    width: 46%;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
}

.cards .card img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid #fff;
    border-radius: 50%;
    display: block;
}

.cards .card > .contenido-texto-card{
    width: 60%;
    color: #fff;
}

.cards .card > .contenido-texto-card p{
    font-weight: 300;
    padding-top: 5px;
}

/*  Form */

.contactos{
    background: #f2f2f2;
    display: flex;
    flex-direction: row-reverse;
}   

.titulo__contacto{
    font-size: 30px;
    margin-bottom: 60px;
}

.form{
    background: #f2f2f2;
    margin: 60px;
    width: 90%;
    padding: 2.5em 2em;
}

.form__tittle{
    font-size: 30px;
    margin-bottom: 60px;
}

.form__container{
    margin-top: 0,8em;
    display: grid;
    gap: 1em;
}

.form__group{
    position: relative;
    --color: #5757577e;
}

.form__input{
    width: 100%;
    background: none;
    color: #706c6c;
    padding: .6em .3em;
    font-family: 'open sans';
}

.form__input:focus + .form__label,
.form__input:not(:placeholder-shown) + .form__label{
    transform: translateY(-12px) scale(.7);
    transform-origin: left top;
    opacity: 0;
}

.form__label{
    color: var(--color);
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 5px;
    transform: translateY(8px);
    transition: transform .1s, color .1s;
}

.form__submit{
    background: black;
    color: #fff;
    font-family: 'open sans';
    font-weight: 300;
    font-size: 1rem;
    padding: .8em 0;
    border: none;
    width: 15%;
}

textarea {
    resize: none;
    border: 2px black solid ;
}

.textos__contacto{
    padding: 108px 0 0 0;
}

.textos__contacto h4{
    position: absolute;
    padding: 15px 15px 0 0;
}

.textos__contacto p{
    padding: 15px 15px 0 0;
    padding-inline: 90px;
}


/* footer */


footer{
    background: black;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.content-foo{
    text-align: center;
}

.content-foo h4{
    color: #fff;
    border-bottom: 1px solid #fff;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p{
    color: #ccc;
}

.content-foo a{
    display: flex;
    padding-bottom: 10px;
    text-decoration: none;
    color: #ccc;
}

.content-foo img{
    padding-inline: 4px;
}

.titulo-final{
    text-align: center;
    font-size: 13px;
    font-weight: 300;
    margin: 20px 0 0 0;
    color: #9e9797;
}

@media screen and (max-width:900px){
    header{
        background-position: center;
    }

    .contenedor-sobre-nosotros{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .imagen-about-us{
        margin-bottom: 60px;
        width: 95%;
    }

    .sobre-nosotros .contenido-textos{
        width: 95%;
    }

    .nosotros{
        display: flex;
        flex-direction: column;
        width: 95%;
        align-items: center;
        padding-bottom: 0;
    }

    .nosotros img{
       width: 95%;
    }

    .titulo__nosotros{
        padding-top: 20px;
    }

    .texto__nosotros{
        text-align: center;
    }

    /* Galeria */

    .imagen-port{
        width: 44%;
    }

    /* Clientes */

    .cards{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cards .card{
        width: 90%;
    }

    .cards .card:first-child{
        margin-bottom: 30px;
    }

   
 /* Contacto */

 .contactos{
    flex-direction: column;
    align-items: center;
}

.titulo__contacto{
    text-align: center;
    padding-bottom: 1px;
}

.form__div{
    width: 95%;
}

}

@media screen and (max-width:500px){
    nav{
        text-align: center;
        padding: 30px 0 0 0;
    }

    .nav__logo{
        margin-top: 10px;
        padding-bottom: 15px;
        flex-direction: column;
        align-items: center;
    }

    nav > a{
        margin-right: 5px;
    }

    .textos-header h1{
        font-size: 35px;
    }

    .textos-header h2{
        font-size: 20px;
    }

    /* ABOUT US */

    .imagen-about-us{
        margin-bottom: 60px;
        width: 95%;
    }

    .sobre-nosotros .contenido-textos{
        width: 95%;
    }

    .nosotros{
        display: flex;
        flex-direction: column;
        width: 95%;
        align-items: center;
        padding-bottom: 0;
    }

    .nosotros img{
       width: 95%;
    }

    .titulo__nosotros{
        padding-top: 20px;
    }

    .texto__nosotros{
        text-align: center;
    }

    /* Galeria */

    .imagen-port{
        width: 95%;
    }

    /* Clients */

    .cards .card{
        height: 450px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cards .card img{
        width: 90px;
        height: 90px;
    }

    /* Contacto */

    .contactos{
        flex-direction: column;
        align-items: center;
    }

    .titulo__contacto{
        text-align: center;
        padding-bottom: 1px;
    }

    .form__div{
        width: 95%;
    }


       /* Footer */


    .contenedor-footer{
        flex-direction: column;
        border: none;;
    }

    .content-foo{
        margin-bottom: 20px;
        text-align: center;
    }

    .content-foo h4{
        border: none;
    }

    .content-foo p{
        color: #ccc;
        border-bottom: 1px solid #f2f2f2;
        padding-bottom: 20px;
    }

    .titulo-final{
        font-size: 20px;
    }
}